.a{
    background-color: black;
    height: 360px;
   width: 100px;
   padding: 20px;
}
.b{
    background-color:rgb(238, 14, 14);
    height:100px;
   width:100px;
   border-radius:50%;
   }
.c{background-color:yellow;
    height:100px;
   width:100px;
   border-radius:50%;
}
.d{
    background-color:green;
    height:100px;
   width:100px;
   border-radius:50%;
}
h1{
    background-color: pink;
    width:100px;
    text-align: center;
}